body {
  font-family: 'Cascadia Code', serif;
  overflow-x: hidden;
  transition: background-color .3s;
}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

.light-mode body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  @apply mx-auto px-10;
}
